/* @media only screen and (max-width: 740px){
    #wrapper {background:#F77;}
}

@media only screen and (max-width: 570px){
    #wrapper {background:#7f7;}
}

@media only screen and (max-width: 570px){
    #wrapper {background:#77f;}
}

 */

 @media only screen and (max-width: 700px){
    img {float:none; width: 100%;}
    h1, h2, h3, h4 {float: center;text-align: center;}
}